# Firebase Config
VITE_FB_API_KEY=your_firebase_api_key
VITE_FB_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FB_DATABASE_URL=https://your_project-default-rtdb.firebaseio.com
VITE_FB_PROJECT_ID=your_project_id

# Google Apps Script URL
VITE_GAS_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec

# ImgBB API
VITE_IMGBB_API_KEY=your_imgbb_key
